<!-- Banner -->
<!--
  <section id="banner">
    <div class="content">
      <img src="assets/images/logo_florence.png" alt="" class="image">
      <p>Welcome to the Florence As It Was project site!</p>
      <ul class="actions">
        <li><a href="{{ 'about.html' | absolute_url }}" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <a href="{{ 'maps.html' | absolute_url }}"><img src="assets/images/florence_map.jpg" alt="" /></a>
    </span>
  </section>
-->

  <section id="banner">
    <div class="image object">
      <img src="assets/images/logo_florence.png" alt="" />
      <a href="{{ 'maps.html' | absolute_url }}"><img src="assets/images/florence_map.jpg" alt="" /></a>
    </div>
    <span class="content">
    <p>Welcome to the Florence As It Was project site!</p>
      <ul class="actions">
        <li><a href="{{ 'about.html' | absolute_url }}" class="button big">Learn More</a></li>
      </ul>
    </span>
  </section>
