<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>

      <!-- Picture -->
        <section>
          <div>
            <img src="/assets/images/logo_florence.png" alt="" width="200">
          </div>
        </section>



      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="{{ '' | absolute_url }}">Home</a></li>
            <li><a class="non_link">About</a><a href ="{{ 'about_it.html' | absolute_url }}" class="lang_select">ITAL</a><a href ="{{ 'about.html' | absolute_url }}" class="lang_select">ENGL</a></li>
            <li><a href="{{ 'maps.html' | absolute_url }}">Maps</a></li>
            <li><a href="https://sketchfab.com/FLAW/models">3D Models</a></li>
            <li>
              <span class="opener">Buildings</span>
              <ul>
                {% for building in site.buildings %}
            		<li><a href="{{ building.url | absolute_url }}">{{ building.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <!--<li>
              <span class="opener">People</span>
          		<ul>
                {% for person in site.people %}
            		<li><a href="{{ person:url | absolute_url }}">{{ person.title }}</a></li>
                {% endfor %}
          		</ul>
            </li>-->
            <li><a href="{{ 'people.html' | absolute_url }}">Historic Figures</a></li>
            <li><a href="{{ 'texts.html' | absolute_url }}">Scholarly Texts</a></li>
            <li><a href="{{ 'blog.html' | absolute_url }}">Blog</a></li>
            <li><a href="{{ 'contributors.html' | absolute_url }}">Contributors</a></li>
            <li><a href="{{ 'methodology.html' | absolute_url }}">Methodology</a></li>
            <li><a href="{{ 'links.html' | absolute-url }}">Links</a></li>
          </ul>
        </nav>

      <!-- Blog Section -->
        <section>
          <header class="major">
            <h2>Recent Posts</h2>
          </header>
          <div class="mini-posts">
              {% for post in site.posts limit:2 %}
              <article>
                <h3>{{ post.title }}</h3>
                {{ post.excerpt }}
              </article>
              {% endfor %}
          </div>
          <br/>
          <ul class="actions">
            <li><a href="{{ 'blog.html' | absolute_url }}" class="button">More</a></li>
          </ul>
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Contact Us</h2>
          </header>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <li class="fa-phone">{{ site.phone }}</li>
            <li class="fa-home">{{ site.street_address }}<br />
            {{ site.city }}, {{ site.state }} {{ site.zip_code }}<br />
            {{ site.country }}</li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <div>
            <a href="https://digitalhumanities.wlu.edu/"><img src="/assets/images/logo_dhwlu.png" alt="">
            </a>
          </div>
          <p class="copyright">&copy; {{ site.title }} All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>. Jekyll integration: <a href="https://andrewbanchi.ch">Andrew Banchich</a>.</p>
        </footer>

    </div>
  </div>
